# String Operations

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/python/04_string_operations.ipynb)

## Overview

This lecture will cover various string operations in Python, with a focus on their application in geospatial contexts. Strings are fundamental in handling textual data, such as names of geographic locations, coordinates, and data extracted from text files. Mastering string operations allows you to effectively manipulate and analyze geographic information, which is essential for tasks like data cleaning, formatting, parsing, and even geocoding.

## Learning Objectives

By the end of this lecture, you should be able to:

- Create and manipulate strings in Python, including concatenation and repetition.
- Apply string methods such as `lower()`, `upper()`, `strip()`, `replace()`, and `split()` to process geospatial data.
- Format strings using the `format()` method and f-strings to include variable data within strings.
- Parse and extract specific information from strings, such as coordinates or location names.
- Utilize string operations in practical geospatial tasks, enhancing your ability to work with and manage geographic data.

## Creating and Manipulating Strings

Strings in Python are sequences of characters. You can create a string by enclosing characters in single or double quotes.

In [1]:
location_name = "Mount Everest"  # A string representing the name of a location

You can concatenate (join) strings using the `+` operator:

In [3]:
location_name_full = location_name + ", Nepal" + ", 1000"
print(location_name_full)

Mount Everest, Nepal, 1000

In [6]:
location_name_full = location_name + ", Nepal" + "," +  str(1000)
print(location_name_full)

Mount Everest, Nepal,1000

You can also repeat strings using the `*` operator:

In [7]:
separator = "-" * 10
print(separator)

----------

In [9]:
separator = "city, " * 10
print(separator)

city, city, city, city, city, city, city, city, city, city,

Let's construct a basic SQL query string to select data from a geospatial database:

In [10]:
table_name = "locations"
condition = "country = 'Nepal'"
sql_query = f"SELECT * FROM {table_name} WHERE {condition};"
print(sql_query)

SELECT * FROM locations WHERE country = 'Nepal';

In more complex scenarios, you might want to dynamically build queries based on user input or multiple conditions.

## String Methods for Geospatial Data

Python provides various built-in methods to manipulate strings. Some commonly used methods include:

- `lower()`, `upper()`: Convert strings to lowercase or uppercase.
- `strip()`: Remove leading and trailing whitespace.
- `lstrip()`, `rstrip()`: Remove leading or trailing whitespace.
- `replace()`: Replace a substring with another substring.
- `split()`: Split a string into a list of substrings based on a delimiter.
- `join()`: Join a list of strings into a single string with a specified delimiter.

In [11]:
location_name_upper = location_name.upper()
print(location_name_upper)  # Convert to uppercase

MOUNT EVEREST

In [18]:
location_name.islower() # Check if all characters are lowercase

False

In [19]:
location_name_clean = location_name.strip()
print(location_name_clean)  # Remove leading/trailing whitespace

Mount Everest

In [22]:
location_name = "   Kangah    "
location_name

'   Kangah    '

In [24]:
location_name_clean = location_name.strip()
location_name_clean

'Kangah'

In [26]:
location_name = location_name.rstrip()   # Remove trailing whitespace
location_name

'   Kangah'

In [32]:
location_name = location_name.lstrip()   # Remove leading whitespace
location_name

'Kangah'

In [35]:
location_name_replaced = location_name.replace("Everest", "K2")
print(location_name_replaced)  # Replace 'Everest' with 'K2'

Kangah

In [36]:
location_name_replaced = location_name.replace("Everest", "K2")
print(location_name_replaced)  # Replace

Kangah

In [37]:
location_parts = location_name_full.split(", ")
print(location_parts)  # Split the string into a list

['Mount Everest', 'Nepal,1000']

In [39]:
Location = "Ghana, Nigeria, India, China, USA"

In [42]:
Location.split()   # Split the string into a list using comma as the separator

['Ghana,', 'Nigeria,', 'India,', 'China,', 'USA']

Suppose you have a list of country names with inconsistent formatting, and you want to normalize them:

In [38]:
countries = [" nepal", "INDIA ", "china ", "Bhutan"]
normalized_countries = [country.strip().title() for country in countries]
print(normalized_countries)

['Nepal', 'India', 'China', 'Bhutan']

This operation removes any leading/trailing spaces and ensures consistent capitalization.

In [53]:
names = ["Michael Donkh", "John arthur", "James Ankomah", "David Okyere"]

In [54]:
[name.split()[1] for name in names]

['Donkh', 'arthur', 'Ankomah', 'Okyere']

## Formatting Strings

String formatting is essential when preparing data for output or when you need to include variable values in strings. You can use the `format()` method or f-strings (in Python 3.6 and above) for string formatting.

In [55]:
latitude = 27.9881
longitude = 86.9250
formatted_coordinates = "Coordinates: ({}, {})".format(latitude, longitude)
print(formatted_coordinates)

Coordinates: (27.9881, 86.925)

In [56]:
formatted_coordinates_fstring = f"Coordinates: ({latitude}, {longitude})"
print(formatted_coordinates_fstring)

Coordinates: (27.9881, 86.925)

Well-Known Text (WKT) is a text markup language for representing vector geometry objects. Let's format a string to represent a POINT geometry:

In [57]:
wkt_point = f"POINT({longitude} {latitude})"
print(wkt_point)

POINT(86.925 27.9881)

## Parsing and Extracting Information from Strings

Often, you will need to extract specific information from strings, especially when dealing with geographic data. For example, you might need to extract coordinates from a formatted string.

In [58]:
coordinate_string = "27.9881N, 86.9250E"
lat_str, lon_str = coordinate_string.split(", ")
latitude = float(lat_str[:-1])  # Convert string to float and remove the 'N'
longitude = float(lon_str[:-1])  # Convert string to float and remove the 'E'
print(f"Parsed coordinates: ({latitude}, {longitude})")

Parsed coordinates: (27.9881, 86.925)

If you have a list of addresses in the format "Street, City, Country", you might want to parse and extract each component:

In [59]:
address = "123 Everest Rd, Kathmandu, Nepal"
street, city, country = address.split(", ")
print(f"Street: {street}, City: {city}, Country: {country}")

Street: 123 Everest Rd, City: Kathmandu, Country: Nepal

## Exercises

1. Create a string representing the name of a city. Convert the string to lowercase and then to uppercase.
2. Take a string with the format 'latitude, longitude' (e.g., '40.7128N, 74.0060W') and extract the numeric values of latitude and longitude.
3. Create a formatted string that includes the name of a location and its coordinates. Use both the `format()` method and f-strings to achieve this.
4. Replace a substring in the name of a place (e.g., change 'San Francisco' to 'San Diego') and print the result.
5. Given a list of addresses in the format "Street, City, Country", write a function to parse and return a dictionary with keys `street`, `city`, and `country`.
6. Write a function that converts a pair of latitude and longitude coordinates into a WKT `POINT` string.

ANSWER

**TASK 1**

In [61]:
Name_City = "Namibia, Windhoek"
Name_City_Uppper = Name_City.upper()
Name_City_Lower = Name_City.lower()

print(f'Name_City_Uppper: {Name_City_Uppper}, Name_City_Lower: {Name_City_Lower}')

Name_City_Uppper: NAMIBIA, WINDHOEK, Name_City_Lower: namibia, windhoek

**Task 2**

In [73]:
Coordinate = "40.7128N", "74.0060E"
lat_str,long_str = coordinate_string.split(", ")
Numeric_values = float (lat_str[:-1]), float(long_str[:-1])
print(f'Numeric_values: {Numeric_values}')

Numeric_values: (27.9881, 86.925)

**Task3**

In [75]:
latitude_Gh = '13.6854N'
longitude_Gh = '104.1864E'
Country = 'Cambodia'
formatted_coordinates = "Coordinates: ({}, {}, {})".format(latitude_Gh, longitude_Gh, Country)
print(formatted_coordinates)

Coordinates: (13.6854N, 104.1864E, Cambodia)

In [76]:
formatted_coordinates_fstring = f"Coordinates: ({latitude_Gh}, {longitude_Gh}, {Country})"
print(formatted_coordinates_fstring)

Coordinates: (13.6854N, 104.1864E, Cambodia)

**Task4**

In [79]:
Country_name = "San Francisco, California, USA"
location_name_replaced = Country_name.replace("San Francisco", "San Diego")
Country_name
print(location_name_replaced)

San Diego, California, USA

**Task5**

In [81]:
dictionary = {
    "name": "Brightside",
    "country": "USA",
    "City": "Baton Rouge",
    "Address": "1443 Brightside Dr"
}

print(f'name: {dictionary["name"]}, country: {dictionary["country"]}, City: {dictionary["City"]}, Address: {dictionary["Address"]}')

name: Brightside, country: USA, City: Baton Rouge, Address: 1443 Brightside Dr

## Summary

String operations are crucial in geospatial programming, especially when dealing with textual geographic data. Mastering these operations will enable you to handle and manipulate geographic information effectively in your projects, whether you're formatting outputs, parsing inputs, or integrating with geospatial databases.